<footer id="footer" class="footer-16 footer">

    <div class="container">
        <div class="footer-main">
            <div class="row g-3">

                <div class="col-lg-4">
                    <h5>Clinique Médicale</h5>
                    <p>Votre santé, notre priorité.</p>
                    <p>📍 Paris, France</p>
                    <p>📞 +33 1 23 45 67 89</p>
                </div>

                <div class="col-lg-2">
                    <h6>Services</h6>
                    <a href="#">Consultations</a><br>
                    <a href="#">Urgences</a><br>
                    <a href="#">Chirurgie</a>
                </div>

                <div class="col-lg-2">
                    <h6>Infos</h6>
                    <a href="#">À propos</a><br>
                    <a href="#">FAQ</a><br>
                    <a href="#">Contact</a>
                </div>

                <div class="col-lg-2">
                    <h6>Patient</h6>
                    <a href="#">Prendre RDV</a><br>
                    <a href="#">Téléconsultation</a>
                </div>

                <div class="col-lg-2">
                    <h6>Légal</h6>
                    <a href="#">Mentions</a><br>
                    <a href="#">Confidentialité</a>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom text-center">
        © {{ "now"|date("Y") }} Clinique Médicale
    </div>

</footer>
