{% extends 'backend/baseend.html.twig' %}

{% block title %}Rendez-vous{% endblock %}

{% block body %}
<h4 class="fw-bold py-3 mb-4">Modifier le rendez-vous</h4>

<div class="card">
  <div class="card-body">
    {{ include('backend/rendez_vous/_form.html.twig', {button_label: 'Mettre à jour'}) }}
  </div>
</div>

<a class="btn btn-secondary mt-3" href="{{ path('app_rendez_vous_index') }}">⬅ Retour</a>
{% endblock %}
