<form method="post" action="{{ path('app_activite_physique_delete', {'id': activite_physique.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activite_physique.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
